<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/main.css')}}">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="desk">
            <div class="window_submit">
                <input type="text" placeholder="Message" id="message"></input>
                <input type="text" placeholder="Code" id="code"></input>
                <button type="button" onclick="loadMessageAndCode()">ENCODE</button>
            </div>
            <div class="window_choose" id="choose">
            </div>
            <div class="window_submit">
                <input type="text" placeholder="Message" id="cipher"></input>
                <input type="text" placeholder="Polynom" id="polynom"></input>
                <button type="button" onclick="sendToDecode()">DECODE</button>
            </div>
            <div class="window_results" id="results">
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</html>
